<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>管理账户管理</title>
    <!--导入bootstrap插件-->
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.css}">
    <script th:src="@{/plugins/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/bootstrap/js/bootstrap.js}"></script>
    <!--导入自定义样式文件-->
    <link rel="stylesheet" th:href="@{/css/mycss.css}">
    <script type="text/javascript">
        $(document).ready(function() {
            $("a[name='deleteAdmin']").click(function() {
                var $a = $(this);//获取指定a标签的jquery对象
                if(window.confirm('确定要删除该账户吗？删除后无法恢复')) {
                    $.get($a.attr("href"), function(data) {
                        //jquery自带的json转换方法
                        if(typeof data != 'object') { //如果不是JS对象（则为JSON格式的数据，如servlet输出的JSON），则转换成JS对象
                            data = $.parseJSON(data);
                        }
                        if(data.status == 1) { //如果删除成功
                            $a.parents("tr").remove();//移除该元素所在表格行
                        }else{//如果删除失败
                            alert(data.myMessage);
                        }
                    });
                }
                return false;//让链接事件失效，即不再执行原链接跳转
            });
        });
    </script>
</head>
<body>
<div style="text-align: right;">
    <span th:text="${session.admin.name}"></span>,<a th:href="@{/backstage/logout}">注销</a>
</div>
<a th:href="@{/backstage/adminmanage/toAddAdmin}" class="btn btn-primary" role="button" style="margin:5px 2px;text-shadow: black 5px 3px 3px;">
    <span class="glyphicon glyphicon-plus" style="margin-right:5px;"></span> 添加管理账户
</a>
<table class="table table-bordered table-hover  table-striped">
    <thead>
    <tr>
        <th>账户名</th>
        <th>密码</th>
        <th>姓名</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="admin:${list}">
            <td th:text="${admin.username}"></td>
            <td th:text="${admin.password}"></td>
            <td th:text="${admin.name}"></td>
            <td style="width:20%;"><a th:href="@{/backstage/adminmanage/toUpdateAdmin(id=${admin.id})}" class="btn btn-info btn-xs">修改</a>
                <a name="deleteAdmin" class="btn btn-info btn-xs" th:href="@{/backstage/adminmanage/doDeleteAdmin(id=${admin.id})}">删除</a>
            </td>
        </tr>

    </tbody>
</table>
</body>
</html>
