<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>hello</title>
    <!--导入jquery插件-->
    <script th:src="@{/plugins/jquery.js}"></script>
    <!--导入layui插件-->
    <link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}">
    <!--导入自定义样式文件-->
    <link rel="stylesheet" th:href="@{/css/mycss.css}">
    <script th:inline="javascript" type="text/javascript">
        $(document).ready(function() {
            $("button[name='addAdmin']").click(function() {
                var $myForm = $("#myForm"); //获取指定a标签的jquery对象
                $.post([[@{/backstage/adminmanage/doAddAdmin}]],
                    $("#myForm").serialize(),
                    function(data) {
                        //jquery自带的json转换方法
                        if(typeof data != 'object') { //如果不是JS对象（则为JSON格式的数据，如servlet输出的JSON），则转换成JS对象
                            data = $.parseJSON(data);
                        }
                        alert(data.myMessage);
                        if(data.status == 1) {
                            window.location.href = [[@{/backstage/adminmanage/toAddAdmin}]];
                        }
                    }
            );
            });
        });
    </script>
</head>

<body>
<form id="myForm" class="layui-form">
<div class="layui-form-item">
    <label class="layui-form-label">账户名</label>
    <div class="layui-input-block">
        <input type="text" id="username" name="username"  required  lay-verify="required" placeholder="请输入账户名" autocomplete="off" class="layui-input">
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">姓名</label>
    <div class="layui-input-block">
        <input type="text" id="name" name="name"  required  lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
    </div>
</div>
<div class="layui-form-item">
    <div class="layui-input-block">
        <button name="addAdmin" class="layui-btn">创建管理账户1</button>
        <a class="layui-btn layui-btn-primary" th:href="@{/backstage/adminmanage/toManageAdmin}">返回账户管理页面</a>
    </div>
</div>
</form>
</body>

</html>